# String

In [1]:
str1="Pakistan"

In [2]:
str1

'Pakistan'

In [3]:
str1[0]

'P'

In [5]:
str1[7]

'n'

In [6]:
str1[-6]

'k'

In [7]:
str1[-8]

'P'

In [8]:
str1.upper()

'PAKISTAN'

In [9]:
str1.lower()

'pakistan'

In [10]:
Name="aqeel mehmood"

In [11]:
Name.title()

'Aqeel Mehmood'

Combining & Concatenation

In [17]:
First_Name="Aqeel"
Last_Name="Mehmood"
full_Name=First_Name +" "+Last_Name
print(full_Name)

Aqeel Mehmood

In [18]:
'a' in 'program'

True

In [20]:
'at' in 'battle'

True

In [23]:
'Aqeel' not in 'Aqeel Mehmood'

False

In [26]:
default_order = "{}, {} and {}".format('Aqeel','Shakeel','Arshad')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('Shakeel','Aqeel','Arshad')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{a}, {s} and {a1}".format(a='Aqeel',s='Shakeel',a1='Arshad')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
Aqeel, Shakeel and Arshad

--- Positional Order ---
Aqeel, Shakeel and Arshad

--- Keyword Order ---
Aqeel, Shakeel and Arshad

In [28]:
print("Aqeel")

Aqeel

In [32]:
print("\t\tAqeel")

		Aqeel

In [42]:
print("Arshad\n\tMehmood\nAqeel\n\tMehmood\nShakeel\n\tMehmood")

Arshad
	Mehmood
Aqeel
	Mehmood
Shakeel
	Mehmood

In [43]:
0.1+0.3

0.4

In [44]:
2+4

6

In [46]:
5/5

1.0

In [48]:
5/9

0.5555555555555556

In [52]:
age = 24
message = "Happy " + str(age) + "rd Birthday!"

In [53]:
print(message)

Happy 24rd Birthday!

In [54]:
3/2

1.5

# List

In [64]:
cars = ['vitz', 'prius', 'civic', 'alto']
print(cars)

['vitz', 'prius', 'civic', 'alto']

In [65]:
print(cars[0])

vitz

In [67]:
print(cars[3].title())

Alto

In [68]:
print(cars[-1])

alto

In [71]:
message="My First Car is "+ cars[1].title()+"."

In [72]:
print(message)

My First Car is Prius.

In [73]:
motor_cycles=["Honda","Yamaha","Unique"]

In [74]:
print(motor_cycles[0])

Honda

In [75]:
motor_cycles[0]="YBR" # update List

In [76]:
print(motor_cycles)

['YBR', 'Yamaha', 'Unique']

In [77]:
motor_cycles.append("Honda")

In [78]:
print(motor_cycles)

['YBR', 'Yamaha', 'Unique', 'Honda']

In [84]:
motor_cycles.insert(0,90)

In [85]:
print(motor_cycles)

[90, 70, '70', 'YBR', 'Yamaha', 'Unique', 'Honda']

In [86]:
del motor_cycles[0]

In [87]:
print(motor_cycles)

[70, '70', 'YBR', 'Yamaha', 'Unique', 'Honda']

In [88]:
del motor_cycles[-5]

In [89]:
print(motor_cycles)

[70, 'YBR', 'Yamaha', 'Unique', 'Honda']

In [90]:
del motor_cycles[0]

In [91]:
print(motor_cycles)

['YBR', 'Yamaha', 'Unique', 'Honda']

In [92]:
del motor_cycles[0:2]

In [93]:
print(motor_cycles)

['Unique', 'Honda']

In [94]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [95]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Honda.

In [98]:
motorcycles = ['honda', 'yamaha', 'suzuki']

In [99]:
motorcycles.remove("yamaha")

In [100]:
print(motorcycles)

['honda', 'suzuki']

In [101]:
names=['shakeel','aqeel','arshad']
names.sort()

In [102]:
print(names)

['aqeel', 'arshad', 'shakeel']

In [103]:
names.sort(reverse=True)

In [104]:
print(names)

['shakeel', 'arshad', 'aqeel']

In [105]:
names.reverse()

In [106]:
print(names)

['aqeel', 'arshad', 'shakeel']

In [107]:
len(names)

3

In [108]:
print(len(names))

3

# Loops

In [112]:
Train_names = ["Shalimar","Karakaram","Green Line","Jinnah Express"]

In [113]:
for train in Train_names:
    print(train)

Shalimar
Karakaram
Green Line
Jinnah Express

In [114]:
for a in "Aqeel":
    print(a)

A
q
e
e
l

In [119]:
fruits=['Apple','banana','Orange','Mango']
for x in fruits:
    print(x)
    if x=='Orange':
    
        break

Apple
banana
Orange

In [121]:
fruits=['Apple','banana','Orange','Mango']
for x in fruits:
   # print(x)
    if x=='Orange':
    
        break
    print(x)

Apple
banana

In [122]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [124]:
for value in range(1,5):
    print(value)

1
2
3
4

In [125]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [126]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [127]:
numbers = [1, 2, 4, 6, 11, 20]

# variable to store the square of each num temporary
sq = 0

# iterating over the given list
for val in numbers:
    # calculating square of each number
    sq = val * val
    # displaying the squares
    print(sq)

1
4
16
36
121
400

In [132]:
sum=0
for val in range(1,6):
    sum=sum+val
print(sum)

15

In [133]:
for val in range(5):
    print(val)
else:
    print("The loop has completed execution")

0
1
2
3
4
The loop has completed execution

In [142]:
for val in 'Aqeel':
    for val2 in "sh":
        print(val)

A
A
q
q
e
e
e
e
l
l

In [144]:
for num1 in range(3):
    for num2 in range(10, 14):
        print(num1, "Aqeel", num2)

0 Aqeel 10
0 Aqeel 11
0 Aqeel 12
0 Aqeel 13
1 Aqeel 10
1 Aqeel 11
1 Aqeel 12
1 Aqeel 13
2 Aqeel 10
2 Aqeel 11
2 Aqeel 12
2 Aqeel 13

In [7]:
names=["Aqeel","Shakeel","Arshad"]
Profession=["Engineer","Accountant","Business Man"]
for n in names:
    for p in Profession:
        print(n,p)

Aqeel Engineer
Aqeel Accountant
Aqeel Business Man
Shakeel Engineer
Shakeel Accountant
Shakeel Business Man
Arshad Engineer
Arshad Accountant
Arshad Business Man

In [10]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry