In [1]:
import pandas as pd
import numpy as np

In [9]:
df= pd.read_excel('Book2.xlsx')

In [10]:
df

    Dataset
0    117313
1    104002
2    113038
3    101936
4     84560
5    113136
6     80740
7    100536
8    105052
9     87201
10    91986
11    94868
12    90745
13   102848
14    85927
15   112276
16   108637
17    96818
18    92307
19   114564
20   109714
21   108833
22   115295
23    89279
24    81720
25    89344
26   114426
27    90410
28    95118
29   113382

In [13]:
sm=df.mean()

In [12]:
number=30
sqrt = number ** 0.5
print("square root:", sqrt)
number

square root: 5.477225575051661

30

In [15]:
se

Dataset    18294.000365
dtype: float64

In [16]:
df.std()

Dataset    11478.406127
dtype: float64

In [17]:
std=15000
se=std/sqrt

In [18]:
se

2738.6127875258308

In [19]:
z=(sm-113000)/se

In [20]:
z

Dataset   -4.673765
dtype: float64