In [36]:
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv("My_Data1.csv")

In [24]:
df

    Data
0    567
1    572
2    572
3    589
4    614
..   ...
75   843
76   850
77   875
78   879
79   897

[80 rows x 1 columns]

In [25]:
m=df.mean()

In [26]:
s=df.std()

In [27]:
df=df-m

In [28]:
df.mean()

Data    6.536993e-14
dtype: float64

In [31]:
df = df / s
df

        Data
0  -2.377515
1  -2.309986
2  -2.309986
3  -2.080389
4  -1.742745
..       ...
75  1.350066
76  1.444606
77  1.782250
78  1.836273
79  2.079376

[80 rows x 1 columns]

In [33]:
df1=df.mean()
df1

Data   -3.053113e-16
dtype: float64

In [34]:
df2=df.std()

In [35]:
df2

Data    1.0
dtype: float64

In [38]:
df2=np.random.normal()

In [40]:
df3=np.random.rand(1,1000)*100

In [41]:
df3

array([[22.27288703,  7.33866235, 38.70149357, 83.78650823, 39.48297476,
        59.63710122, 69.26805326, 13.05680582, 97.09787452, 64.54769407,
         8.80990114,  1.98433105,  7.91171509, 45.44021056, 51.25086407,
        40.70749906, 39.31881733, 29.14416651, 16.16381489, 12.56092073,
         3.77909191, 72.73596644, 82.39057874, 97.89934785, 56.21493464,
        66.24157394, 54.60563329, 61.29076077, 72.62984021, 11.91731876,
        50.59617415, 83.60912718, 87.22229811, 20.15328673, 45.02896714,
        41.01443276, 69.57531697, 14.16921821, 43.50579864, 94.7435496 ,
         2.35819732, 90.39187162, 56.8759968 , 26.96959334, 68.95440844,
        29.38808191, 88.64165658, 83.8539889 , 23.41352763, 37.79874099,
        33.12203115, 90.82421737, 53.15962598,  6.66814495, 77.07423551,
        18.53722407,  6.38627355, 52.13142104, 89.03917612, 38.69560937,
         9.32405858, 92.72172774, 92.05712428, 85.39633202, 34.53806288,
        40.14008555, 84.86014428, 70.99111104, 32.6829797 , 26.13799285,
        57.81909102, 82.15892791,  7.87316863, 78.55775299, 73.84864137,
        94.05231833, 55.13562139, 27.92860217, 26.13619182, 79.48928971,
        30.5949069 , 12.52501805,  2.33220285, 42.10566809, 44.34079992,
        11.04227768, 47.0166003 , 83.0815982 , 93.09843214,  9.97362153,
         9.1092746 , 12.99687921, 81.37508209, 15.26283722, 57.57969267,
        52.55461915, 10.22209889, 99.31009095,  3.31740275, 48.09334888,
        98.56193642, 46.29118618, 40.00105614, 49.21200528, 33.01342965,
         7.35665366, 19.11573238, 40.05035907, 62.35901859, 93.57061491,
        48.98367692, 27.47712858, 54.09702436, 86.25996801, 14.99844159,
        53.19784325, 77.76937137, 93.48494549, 62.26791686, 85.14529159,
        79.39302968, 15.37322775, 53.87443175, 83.50407968, 26.34075297,
        87.77918355, 88.90366222, 23.99636285,  5.74206986, 66.78200811,
        23.03568566, 72.61779027, 12.37582926, 37.11139562, 27.9040264 ,
        56.47106815, 81.03668489, 62.03575326, 36.12870319, 82.85454535,
        74.13054741,  6.12738333, 88.5033341 , 79.23468872, 33.83401901,
        94.53442841, 29.7097744 , 19.80072546, 18.67081083, 65.31701742,
         2.78313424, 94.07119102, 47.4489463 , 60.89854515, 12.37985671,
        11.88293495, 29.50988115, 34.99681801, 38.88235143, 71.07081808,
        75.03780519, 13.59452296, 95.02801123, 17.44590318, 47.57741352,
         9.57330905, 69.20397545, 31.81709292, 82.0182436 , 92.48105687,
        44.78608309, 30.19765683, 31.32723455, 12.02884478, 89.3407273 ,
        24.84414755, 42.75166027,  4.1048516 , 41.3787838 , 92.89385035,
         9.01438819, 75.3378921 ,  2.54322824, 15.30058253, 39.70903832,
        83.26213622, 12.3310001 , 12.9639375 , 83.6112332 ,  2.37109113,
        42.67567974, 38.93751715, 17.87618435, 92.82185526, 42.78724797,
        45.59351137,  9.51766167, 49.83723766, 34.03098259, 92.07810477,
         4.26992542, 53.87783709, 81.46276014, 26.50816626, 56.43916371,
        51.01046093, 43.14853323, 12.40675252, 74.77506782, 44.25721648,
         9.63977202, 30.52416582, 85.02454874, 21.71143267, 72.36452334,
        89.40594434, 41.8926991 , 23.78507094, 24.63166568, 47.76312179,
        91.76373044, 66.86170454, 47.80215237, 98.55979768, 95.77774921,
         7.73701029, 32.05073017, 53.78300256, 55.57061078, 27.29888264,
        44.9960599 , 39.09396833, 85.94647178, 61.82941562, 20.6827707 ,
        13.12158493, 66.05224711, 80.16346273, 56.74851918, 75.71205852,
        22.55677063, 90.87127226, 24.6464765 , 88.93045017, 82.48760388,
        21.21492786, 27.49429523, 58.23916604, 82.06043549, 57.85161883,
        25.02119329, 40.12215018, 73.42317887, 61.78115435, 77.14270027,
        81.93849006, 15.19355993, 17.73670964, 58.14715851, 81.22472639,
        94.09726942, 54.00327802, 40.99553396, 31.29830523,  0.79271364,
        91.94057457, 13.50697336, 18.88491266, 58.17989613, 75.02226736,
        57.39723071, 66.51953464,  5.49651784, 85.73876577, 64.11411607,
        93.04400023, 69.8142481 , 44.32433221,  0.95760946, 90.87315266,
        62.61207989, 38.10305962, 62.39361351, 48.94307003, 83.03862021,
        13.30870712, 15.15325831, 68.57337495, 22.25149739, 11.71513389,
        59.71149378,  5.74842681, 51.27326527, 58.30365352, 94.72502525,
        66.78051433, 20.59559073, 64.83349256,  3.99278692, 83.89287353,
        53.3160917 , 40.40990353, 44.54536431, 13.62205668,  3.00091445,
        48.76415844, 84.35951119, 85.56849777, 82.09645087,  7.72426241,
        61.12589918, 31.93538458, 44.62122481, 98.30969472, 93.77035261,
        14.11503662, 92.50068813, 74.48111083, 78.24894544, 77.41525723,
        22.81056722, 47.02289325, 70.34953998, 30.48188196, 24.36835748,
        29.77424443, 93.10108228, 53.46126532, 76.09394952, 89.81325786,
        80.11349203, 22.51170616, 63.74695448, 31.51690495, 86.67047044,
        30.40329926, 96.66585555, 87.77235728, 28.0618802 , 71.54557347,
        88.34697452, 35.33230486,  1.12116462, 97.5105288 , 65.51505894,
        81.95743674, 16.47010374, 52.41720066, 12.17661952, 16.58040429,
        28.82251842, 50.34557691, 24.70067547,  8.95662121,  9.29690196,
        49.86550804, 10.99135563, 70.95507615,  5.33048845, 40.32439794,
        17.03227429, 93.35477479, 41.85473401, 60.94795621, 60.00007558,
        97.3105236 , 91.43869439, 96.60959286, 12.68735366, 99.32798389,
        39.28382284, 88.10781586, 27.78256061, 91.18671139, 87.9882965 ,
        15.44363039, 55.24213563, 87.20001355, 11.47487005, 24.16519435,
        98.22541826,  4.40860402, 73.46907367, 29.17528525, 97.60221713,
        41.60723682, 41.56571207, 57.66807252,  8.47904127, 45.80087494,
        12.38260516,  6.13763984, 77.14816987, 39.30152575, 41.23049222,
        61.4953815 , 64.39712222, 53.94456125, 84.795488  , 90.26268834,
        29.30404299, 76.37337715, 54.71078674, 11.18636643, 56.85805208,
        98.86610284, 36.24315961, 75.50526063, 12.82913372, 16.3267388 ,
        23.99754988, 70.12672095, 28.00895667, 14.17418091, 14.26008909,
        65.04003556, 77.67766773, 76.69309207, 74.85390212, 25.30995127,
        16.47892725, 13.19199159, 80.18388605, 20.21501101, 59.70180404,
        75.84538085, 45.16584937, 68.11076837, 50.26789811, 96.42591959,
        37.3804504 , 76.55417529, 86.42837466, 17.48939912, 78.4715039 ,
        90.43181069, 61.14178489,  6.02025154, 61.66130041, 60.72140302,
        23.783903  , 80.37339877, 35.22764746, 79.88566852, 23.26294474,
        44.2121202 , 60.04415894, 20.44409   , 50.03374904, 35.45058512,
        27.73597323, 13.92149765, 69.00891181, 97.19075449, 63.03100949,
        26.45141913, 77.51173546, 40.05081242, 70.47122908, 76.0997559 ,
        83.41538165, 92.44683586, 44.99004411,  7.12863681, 30.6731849 ,
        38.64065388, 89.6860477 , 14.38439654, 57.86211442, 24.65975838,
         6.02314347, 33.11989297, 37.00991585, 97.14196919, 62.13424945,
        46.28444503, 32.09997907,  4.91321139, 18.92654762, 55.79835937,
         8.71112007, 79.01350405, 13.990608  , 63.84453387,  8.45593674,
        37.22939933, 26.60009092,  5.45747901, 96.27682491, 62.44353487,
        40.75626527, 49.67375003, 39.14740292,  6.38739718, 82.37830697,
        28.50880321, 37.21291795, 27.70762189, 73.30661916, 35.50801778,
        46.22945254, 39.00130611, 79.73108399,  1.2313935 ,  9.03729587,
        71.56567145, 87.66564489, 88.55894338, 48.34799482, 80.14675613,
        34.76106419,  8.42921891, 61.31342478, 67.60897046, 44.22469101,
         9.30985813, 26.95764129, 46.5891566 , 24.99386684,  5.41690536,
        58.68193463, 33.08045956, 40.59715958, 79.71033443, 35.91239879,
        51.43641899, 85.4446194 , 26.74481717, 23.82526345, 30.97501406,
        35.9905252 ,  5.58096096, 43.3183013 , 94.37227313, 99.53266873,
        14.1546249 , 76.30938695, 45.64334524, 58.5353109 , 18.94086384,
         6.05695407, 13.64544361, 72.68160426, 84.71949015, 50.70115778,
        83.64893356,  6.45090791, 39.45602749, 70.26184188, 11.61009333,
        91.19669794, 24.04430685,  4.89652813, 18.32875468, 35.03385671,
        82.42366989, 52.34279603, 59.81511801, 34.88790985, 79.62651853,
        57.03956821, 17.70314907, 22.20242079, 63.10125426, 62.54481414,
        61.3587022 , 29.87864101, 67.888644  , 85.30162967, 44.52377477,
        84.03538093, 38.32675158, 63.84455503, 48.13718166, 40.21389877,
        78.27096783, 38.56378482, 29.8447683 , 13.06329044, 17.71538862,
        48.97789587, 70.73119911, 64.4570501 ,  2.57497255, 14.01786623,
        82.35364072, 69.80177575,  5.07067562, 98.84382426, 90.46463569,
        47.11504906, 58.68085632, 23.91813886,  5.49662472, 37.70205066,
        66.52734037, 51.60253259, 26.65767917, 13.72634836, 39.09306098,
        92.41383587, 52.04501662, 94.51287596, 49.18224477, 61.8684943 ,
        81.22974967, 86.47829073, 78.16198095, 11.22274257, 12.67810764,
        52.8815241 , 83.4543171 , 99.70758175, 49.93950228, 72.33451784,
        32.06857593, 50.3566856 , 46.14594568, 81.39930494, 94.49300655,
        58.09038666, 36.83684771, 61.91155223, 39.27857371,  4.34340199,
        50.76459504, 83.09899979, 78.30347934, 31.05354797, 16.10120732,
        89.21680312, 97.57684644, 57.61045885, 13.21333536, 54.52793566,
        51.88218102, 49.73998838, 15.4246306 , 39.74130324,  2.93060513,
        37.30434817, 59.83276909, 46.31647802, 36.82188118, 75.11225741,
        18.70869554, 56.68614782, 59.58423565, 39.38807136, 46.07574143,
        75.98436602, 54.39727703, 95.16996264, 48.69507003, 50.6058012 ,
        42.76344339, 41.59385836, 91.21333868, 26.68070009, 10.43617476,
        16.14172756, 57.67052398, 49.57813035, 52.66221078, 72.79167923,
        36.50077513, 89.90641011, 18.43587014, 63.95931479, 59.05133261,
        67.69777061, 63.29531061, 74.6251155 , 36.05966789, 89.55184488,
        12.72627175, 82.55125682, 50.98366509, 79.56098357, 28.17282542,
         9.57068517, 15.66285973, 88.2567117 , 99.99419883, 32.84602535,
         8.52406894, 24.33702239, 93.69926026, 15.11132617, 68.0532956 ,
        95.07156922, 84.67297607, 70.41987667, 92.64049538, 68.94399003,
        13.87073578, 76.01248722,  4.3759579 , 76.11024921, 47.10712852,
        72.091512  , 62.34959531, 63.0791237 , 52.1011698 ,  5.03065135,
        16.13562032, 20.06560894, 38.7006828 , 92.64932087, 66.64957092,
        24.67663532, 59.73699765, 30.42788852, 45.74363508, 26.15802209,
        16.2681426 , 41.37336223, 61.46837905, 93.61579203, 65.89247827,
        75.2515576 , 26.13875148,  5.08355483, 52.3483348 , 57.55479683,
        56.31254402, 88.05928475, 15.73959581, 32.31152968, 44.519166  ,
         1.31648133, 65.38769456, 86.95680119, 52.77202644, 94.3321111 ,
        78.53164436, 14.2461335 , 53.24282307, 30.18689627, 17.86739259,
        95.45514849, 39.58385012, 51.79407828, 11.4608224 , 35.7640011 ,
        59.56426775, 46.16634863, 86.43245817, 27.04237059, 62.06477891,
        40.50192448, 73.73542092, 47.51690682, 48.0966971 , 36.804225  ,
        60.57787088,  6.39357037, 54.35437825,  9.69045186, 42.78197612,
        52.43332401, 47.7581896 ,  3.43087108, 39.32977217, 18.42297143,
        73.23849752, 26.39659495, 42.05271464, 72.42020701, 97.24915903,
        13.00553324, 43.9315275 , 31.01592842, 60.59029987, 58.08122996,
        27.60603987, 93.34981382,  7.9788546 , 23.98508019, 77.18006801,
        34.92370217, 71.73708222, 34.31233305, 80.96375498, 50.24639551,
        65.07224549, 41.11547268, 60.20726469, 64.95010435, 10.74748883,
        68.20829547, 71.86018968,  9.66820982, 80.86312316, 15.51962819,
        25.60668556, 39.92397589, 97.85300123, 82.43151702, 16.34854464,
        38.39749922,  7.33626211, 20.26250239, 86.18464179, 79.17119102,
         6.1744852 , 49.81415586, 60.86919239, 64.47849122, 62.95184493,
        69.14138367, 24.597074  , 67.8339738 , 61.06559488, 64.93207891,
        11.80976868, 37.43273814,  9.35529475, 18.01435554,  9.54924424,
        32.94310529, 29.18985843, 38.88425309, 76.94614562, 30.8138542 ,
         8.60125236, 51.24645651, 90.70544046, 67.15082312,  2.24743366,
        58.72888984, 72.4450924 , 42.45506031, 81.62653751, 16.00815892,
        45.85725943, 68.85487337, 29.49628667, 12.37397983,  5.05539623,
        98.40829731, 22.35939556, 41.33605708, 86.91874701, 35.01115159,
        60.07219192, 31.5419675 , 80.46212849, 83.77632035, 90.90485081,
        25.59129014, 14.02588439, 98.00489601, 32.18614796, 19.38307731,
        17.36176215,  1.43498962, 36.67118567, 93.34486278, 11.95929118,
        47.80584435, 56.30965386, 38.76156419, 42.73830392, 33.40819927,
        38.58394123, 52.12592124, 96.54334691, 36.95968053,  7.22062284,
        29.44593823,  8.81228903, 59.91473595, 34.35910107, 78.78534991,
        77.39689401, 96.9832227 , 15.34873317, 53.23106995, 13.02017317,
        76.56338683, 91.98380006, 90.48045263, 63.13308207, 38.81044982,
        25.23730549, 21.90907652, 50.73809245,  2.77603377, 63.67420806,
        21.40515541, 44.74428154, 39.51814166, 90.94424358,  2.23149242,
        58.82740298, 43.04676784, 86.6639225 , 81.2113686 , 76.09724264,
        40.52177952, 17.61461366, 95.37785848, 18.49958564, 38.86078131,
        32.16157237, 72.57678598, 73.45696524, 55.28309749, 91.70123784,
        28.46757585, 34.18733927, 15.0720856 , 28.43510975, 98.08985462,
        52.6523575 , 12.34886778, 38.71804865, 33.32126094,  1.55687832,
        37.19952769, 71.28121809, 89.70929984, 92.29862432, 42.53205302,
        80.95252835, 27.09267254, 86.18825439, 16.81253145, 55.38286856,
         9.8033008 , 92.92447435, 22.33264947, 16.82072433,  8.57886077,
        74.39286903,  6.73296223, 33.35014493, 36.75843549, 89.06570317,
        80.99717999, 34.2245967 , 26.21123174,  2.5123207 , 50.22662983,
        56.49885747, 23.93799843, 61.04549044, 77.36589615, 82.23007846,
        90.49127589, 77.6842455 , 64.43784412, 22.01572367, 55.54830182,
        41.92228455, 18.82929911, 36.40109548, 94.14769921, 31.95812795,
        19.44742934, 80.32920115, 42.62671495, 40.5785401 , 32.70733342,
        55.86787245, 67.30506165, 16.64642676, 40.16360359, 99.60355432,
        18.74804801, 65.13136561,  6.22511147, 77.60106202, 23.15942471,
         1.43025161, 40.63190597, 64.94799924, 75.94687772, 14.78231189,
        15.85185331, 37.79302351, 15.01738078, 29.46832613, 98.91827273,
        54.48226583, 69.02010976, 47.07893812, 20.47709197, 46.48763833,
        54.40421353, 44.16134219, 49.58092932, 27.06377495, 81.50606279,
        77.62518068, 68.97763021, 88.37394545, 62.90980208, 70.69121268]])

In [42]:
df3.mean()

49.01194107134847

In [43]:
df3.std()

28.261159817188314

In [46]:
df3.sample(n=1)

AttributeError: 'numpy.ndarray' object has no attribute 'sample'