In [3]:
import pandas as pd
import matplotlib

In [15]:
data = {'Dataset':  [1, 2, 1, 1, 2, 1,1,3,1,1]}

frame = pd.DataFrame(data)
frame

   Dataset
0        1
1        2
2        1
3        1
4        2
5        1
6        1
7        3
8        1
9        1

In [16]:
frame.mean()

Dataset    1.4
dtype: float64

In [18]:
frame.median()

Dataset    1.0
dtype: float64

In [19]:
frame.mode()

   Dataset
0        1

In [21]:
data1=[(10,20,30,40,50,60),(10,10,40,40,50,60,70),(10,20,30,50,50,60,80)]
dataFrame=pd.DataFrame(data=data1);
skewValue=dataFrame.skew(axis=1)
print("DataFrame:")
print(data1)
print("Skew :")
print(skewValue)

DataFrame:
[(10, 20, 30, 40, 50, 60), (10, 10, 40, 40, 50, 60, 70), (10, 20, 30, 50, 50, 60, 80)]
Skew :
0    0.000000
1   -0.340998
2    0.121467
dtype: float64